# Temporary and testing files
temp/
temp.*
test/
test.*

# Dependency directories
node_modules/
package-lock.json

# Cache
.cache
.sass-cache/
.eslintcache
.npm
.env
.stylelintcache

# OS
.directory
.Trash-*
.nfs*
.DS_Store
Desktop.ini
$RECYCLE.BIN/

# Editors
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# Thumbnails
._*
Thumbs.db

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.vi
*.zip
*~
